In [1]:
#import necessary packages
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import select
import pymysql
import sqlalchemy as db
import seaborn as sns

In [2]:
import os
os.getcwd()

"C:\\Users\\anush\\OneDrive\\Queen's Uni\\Marketing Analytics - MMA 831\\Project"

In [4]:
df_shang = pd.read_csv("./product features//831_shangeri_features_product_level.csv")

In [5]:
df_shang.head()

,product_id,percentage_weekday_products,percentage_daytime_products
0,00066f42aeeb9f3007548bb9d3f33c38,0.0,0.0
1,00088930e925c41fd95ebfe695fd2655,100.0,0.0
2,0009406fd7479715e4bef61dd91f2462,100.0,100.0
3,000b8f95fcb9e0096488278317764d19,100.0,50.0
4,000d9be29b5207b54e86aa1b1ac54872,100.0,100.0

In [6]:
df_rakesh = pd.read_csv("./product features//831_rakesh_features.csv")

In [7]:
df_rakesh.head()

,product_id,product_category_name_english,product_super_category_name,units_sold,revenue,avg_price,avg_delivery_time_days,sellers,units_sold_per_seller,avg_review_score
0,00066f42aeeb9f3007548bb9d3f33c38,perfumery,fashion,1,101.65,101.65,18.0,1,1.0,5.0
1,00088930e925c41fd95ebfe695fd2655,auto,tools_or_repair,1,129.90,129.90,11.0,1,1.0,4.0
2,0009406fd7479715e4bef61dd91f2462,bed_bath_table,household,1,229.00,229.00,16.0,1,1.0,1.0
3,000b8f95fcb9e0096488278317764d19,housewares,household,2,117.80,58.90,7.0,1,2.0,5.0
4,000d9be29b5207b54e86aa1b1ac54872,watches_gifts,technology,1,199.00,199.00,8.0,1,1.0,5.0

In [8]:
df_melody = pd.read_csv("./product features//melody_product_features.csv")

In [9]:
df_melody.head()

                         product_id  photo_effect
0  00066f42aeeb9f3007548bb9d3f33c38             1
1  00088930e925c41fd95ebfe695fd2655             1
2  0009406fd7479715e4bef61dd91f2462             0
3  000b8f95fcb9e0096488278317764d19             2
4  000d9be29b5207b54e86aa1b1ac54872             1

In [10]:
#merge with both on product_id
df_merged_first = pd.merge(df_shang, df_rakesh, left_on='product_id', right_on = 'product_id', how='outer')
df_merged_first.head(100)

,product_id,percentage_weekday_products,percentage_daytime_products,product_category_name_english,product_super_category_name,units_sold,revenue,avg_price,avg_delivery_time_days,sellers,units_sold_per_seller,avg_review_score
0,00066f42aeeb9f3007548bb9d3f33c38,0.0000,0.0000,perfumery,fashion,1,101.65,101.650000,18.000000,1,1.0,5.000000
1,00088930e925c41fd95ebfe695fd2655,100.0000,0.0000,auto,tools_or_repair,1,129.90,129.900000,11.000000,1,1.0,4.000000
2,0009406fd7479715e4bef61dd91f2462,100.0000,100.0000,bed_bath_table,household,1,229.00,229.000000,16.000000,1,1.0,1.000000
3,000b8f95fcb9e0096488278317764d19,100.0000,50.0000,housewares,household,2,117.80,58.900000,7.000000,1,2.0,5.000000
4,000d9be29b5207b54e86aa1b1ac54872,100.0000,100.0000,watches_gifts,technology,1,199.00,199.000000,8.000000,1,1.0,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,00d93a09990b319a7c946ed7a8c67656,0.0000,100.0000,furniture_decor,household,1,169.90,169.900000,20.000000,1,1.0,2.000000
96,00dc8a1b2de45a7fca5921544e5f351d,0.0000,0.0000,computers_accessories,technology,1,83.99,83.990000,10.000000,1,1.0,5.000000
97,00ddaddbe03b7103d80daee96892363f,100.0000,100.0000,telephony,technology,1,26.99,26.990000,5.000000,1,1.0,5.000000
98,00de606a5dda99c2499f94ef18282977,100.0000,0.0000,auto,tools_or_repair,1,118.80,118.800000,10.000000,1,1.0,5.000000
99,00de7f393d962717eeeb2d7131a40dba,77.7778,66.6667,telephony,technology,18,1914.20,106.344444,17.277778,1,18.0,2.777778

In [12]:
#merge with both on product_id
df_merged = pd.merge(df_merged_first, df_melody, left_on='product_id', right_on = 'product_id', how='outer')
df_merged.head(100)

,product_id,percentage_weekday_products,percentage_daytime_products,product_category_name_english,product_super_category_name,units_sold,revenue,avg_price,avg_delivery_time_days,sellers,units_sold_per_seller,avg_review_score,photo_effect
0,00066f42aeeb9f3007548bb9d3f33c38,0.0000,0.0000,perfumery,fashion,1,101.65,101.650000,18.000000,1,1.0,5.000000,1
1,00088930e925c41fd95ebfe695fd2655,100.0000,0.0000,auto,tools_or_repair,1,129.90,129.900000,11.000000,1,1.0,4.000000,1
2,0009406fd7479715e4bef61dd91f2462,100.0000,100.0000,bed_bath_table,household,1,229.00,229.000000,16.000000,1,1.0,1.000000,0
3,000b8f95fcb9e0096488278317764d19,100.0000,50.0000,housewares,household,2,117.80,58.900000,7.000000,1,2.0,5.000000,2
4,000d9be29b5207b54e86aa1b1ac54872,100.0000,100.0000,watches_gifts,technology,1,199.00,199.000000,8.000000,1,1.0,5.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,00d93a09990b319a7c946ed7a8c67656,0.0000,100.0000,furniture_decor,household,1,169.90,169.900000,20.000000,1,1.0,2.000000,1
96,00dc8a1b2de45a7fca5921544e5f351d,0.0000,0.0000,computers_accessories,technology,1,83.99,83.990000,10.000000,1,1.0,5.000000,1
97,00ddaddbe03b7103d80daee96892363f,100.0000,100.0000,telephony,technology,1,26.99,26.990000,5.000000,1,1.0,5.000000,0
98,00de606a5dda99c2499f94ef18282977,100.0000,0.0000,auto,tools_or_repair,1,118.80,118.800000,10.000000,1,1.0,5.000000,1
99,00de7f393d962717eeeb2d7131a40dba,77.7778,66.6667,telephony,technology,18,1914.20,106.344444,17.277778,1,18.0,2.777778,0

In [13]:
df_merged.to_csv('831_final_product_level_dataset.csv', index=False)